body {
  background-color: #d6e2f0;
  box-sizing: border-box;
  display: flex;
  font-family: "Outfit", sans-serif;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
figure {
  background-color: #ffffff;
  border-radius: 1rem;
  width: 300px;
  justify-content: space-between;
  align-items: center;
}
img {
  border-radius: 1em;
  margin: 10px;
}
h2 {
  font-size: 20px;
  margin: 10px auto;
  width: 80%;
}
p {
  color: hsl(220, 15%, 55%);
  font-size: 15px;
  margin: 10px auto;
  padding: 0 0 1rem;
  width: 80%;
}
.attribution {
  font-size: 11px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
